#root {
  max-width: 1280px;
  margin: 0 10%;
  padding: 2rem;
  /* text-align: center; */
}

/* .currentLocation {
  line-height: .5px;
  padding: 0%;
  border: 0%;
} */

.columns {
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 20px; 
  padding: 20px;
}

.left, .right {
  flex: 1; 
  padding: 10px;
  
}

.left h2 {
  margin-top: 0;
}

.right p {
  margin-top: 22px;
}