#root {
  /* max-width: 1280px; */
  /* padding: 0 10%; */
  /* padding: 2rem; */
  /* text-align: center; */
  width: 100%;
  height: 100%;
}

.align{
  /* text-align: center; */
  padding: 0% 0% 0% 0%;
}

.columns {
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 20px; 
  padding: 20px;
}

.left, .right {
  flex: 1; 
  padding: 10px;
  
}

.left h2 {
  margin-top: 0;
}

.right p {
  margin-top: 22px;
}


.center-form {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.contentWrapper {
    /* position: relative; */
  z-index: 999;
  padding: 10% 0% 0% 20%;
}

.weatherData {
  min-width: 100vh;
  /* position: relative; */
  z-index: 999;
  padding: 10% 0% 0% 20%;
}

.img{
  width: 100%;
  z-index: -1; 
  background-size: cover;
  background-Attachment: 'fixed';
  
  /* width: '100vh' */
 
}
